extends layout

block content
  div(class='jumbotron', class='text-center') Soccer Spirits Simulator index jade
  p Login or Register
  a(class='btn' class='btn-default',href='/login') 
    span(class='fa' class='fa-user') Login
  a(class='btn' class='btn-default',href='/signup') 
    span(class='fa' class='fa-user') Signup