<h1>Add a Team</h1>

<form>
    <div class="form-group">
        <label>Name</label>		
        <input class="form-control" ng-model="team.name"></input>
    </div>
    <div class="form-group">
        <label>LWF</label>
        <input class="form-control" ng-model="team.lwf"></input>
    </div>
	 <div class="form-group">
        <label>STCL</label>
        <input class="form-control" ng-model="team.stcl"></input>
				</div>

	 <div class="form-group">
        <label>STCR</label>
        <input class="form-control" ng-model="team.stcr"></input>
				</div>

	 <div class="form-group">
        <label>RWF</label>
        <input class="form-control" ng-model="team.rwf"></input>
				</div>

	 <div class="form-group">
        <label>CL</label>
        <input class="form-control" ng-model="team.cl"></input>
				</div>

	 <div class="form-group">
        <label>CML</label>
        <input class="form-control" ng-model="team.cml"></input>
				</div>

	 <div class="form-group">
        <label>CMR</label>
        <input class="form-control" ng-model="team.cmr"></input>
				</div>

	 <div class="form-group">
        <label>CR</label>
        <input class="form-control" ng-model="team.cr"></input>
				</div>

	 <div class="form-group">
        <label>DL</label>
        <input class="form-control" ng-model="team.dl"></input>
				</div>

	 <div class="form-group">
        <label>CBL</label>
        <input class="form-control" ng-model="team.cbl"></input>
				</div>

	 <div class="form-group">
        <label>CBR</label>
        <input class="form-control" ng-model="team.cbr"></input>
				</div>

	 <div class="form-group">
        <label>DR</label>
        <input class="form-control" ng-model="team.dr"></input>
		</div>
		 <div class="form-group">
        <label>GK</label>
        <input class="form-control" ng-model="team.gk"></input>
		</div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>